/* เขียน CSS ที่นี่ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.holy__container {
    display: flex;
    background-color: orangered;
    flex-direction: column;
    height: 100vh;
}

.holy__header {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: darkcyan;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.holy__body {
    display: flex;
    flex: 1;
    background-color: orchid;
    height: 75%;
}

.holy__navigation {
    display: flex;;
    flex-basis: 15%;
    flex-direction: column;
    border: 1px solid white;
    background-color: tomato;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}
.holy__content {
    display: flex;;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid white;
    background-color: tomato;
    align-items: center;
    justify-content: center;
}

.content__text{
    display: flex;
    overflow: hidden;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    animation: typewriter 4s steps(40, end) infinite,
    blinkTextCursor 500ms infinite alternate;
}

.content__image{
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.holy__advertisement {
    display: flex;;
    flex-basis: 30%;
    flex-direction: column;
    border: 1px solid white;
    background-color: tomato;
    align-items: center;
    justify-content: center;
}

.ads__text{
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.ads__video {
    display: flex;
    margin-top: 5px;
    max-height: 100%;
    max-width: 100%;
}

.holy__footer {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: khaki;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.holy__menu {
    display: flex;
    font-size: 30px;
}
.btn--menu {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    padding: 2%;
    margin-top: 5px;
}

@keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 2em;
    }
  }
  
  @keyframes blinkTextCursor {
  
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
  
    to {
      border-right-color: transparent;
    }
  
  }
  